# --- PostgreSQL Database Configuration ---
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=

# --- n8n Service Configuration ---
# การตั้งค่าฐานข้อมูล (ควรตรงกับ POSTGRES_* ด้านบน)
DB_TYPE=
DB_POSTGRESDB_HOST=
DB_POSTGRESDB_DATABASE=${POSTGRES_DB}
DB_POSTGRESDB_USER=${POSTGRES_USER}
DB_POSTGRESDB_PASSWORD=${POSTGRES_PASSWORD}

# การตั้งค่า Timezone
GENERIC_TIMEZONE=Asia/Bangkok
TZ=Asia/Bangkok

# การตั้งค่า URL
N8N_HOST=localhost
N8N_EDITOR_BASE_URL=http://localhost:5678/
WEBHOOK_URL=http://localhost:5678/

# อื่นๆ
N8N_RUNNERS_ENABLED=true


DISCORD_TOKEN=
N8N_WEBHOOK=
APPLICATION_ID=